body{
    margin-left: 600px;
    margin-right: 600px;
}


#div1{
    text-align: right;
}

#div2{
    text-align: left;
    border-bottom: solid 1px;
    border-top: 1px solid;
    border-bottom-color: red;
    border-top-color: red;
}

h3{
    color: red;
}

pre{
    text-align: center;
}

/*h3{*/
/*    font-weight: ;*/
/*}*/